body {
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
}

h2 {
    
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
}

h3 {
    
    font-family: 'Karla', sans-serif;
    font-size: 1.3rem;
}
    
p {
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
}





